@model Contact
<tr>
    <td>
    <input asp-for="FullName" class="no-border" readonly="true"/>
    </td>
    <td>
    <input asp-for="Department" class="no-border" readonly="true"/>
    </td>
    <td>
    <input asp-for="HomePhone" class="no-border" readonly="true"/>
    </td>
    <td>
    <input asp-for="CellPhone" class="no-border" readonly="true"/>
    <input id="trigger" hidden="true" class="trigger">
    </td>
    <td style="background-color: rgba(136, 130, 149, 0.2);" class="called">
    <select asp-for="Called" data-style="btn-info" class="selectpicker form-control" id="called" title="select">
        <option value="Yes">Yes</option>
    </select>
    </td>
    <td style="background-color: rgba(136, 130, 149, 0.2);" class="accepted">
    <select asp-for="Accepted" data-style="btn-info" class="selectpicker form-control" id="accepted" title="select" style="width: 50px;">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    </td>
</tr>
   
   

   

   

   

    