@model Contact
<div class="row">
<div class="col-md-3">
   <input asp-for="FullName" class="no-border" readonly="true"></input>
</div>
<div class="col-md-3">
    <input asp-for="Department" class="no-border" readonly="true"></input>
</div>
<div class="col-md-3">
    <input asp-for="HomePhone" class="no-border" readonly="true"></input>
</div>
<div class="col-md-3">
    <input asp-for="CellPhone" class="no-border" readonly="true"></input>
</div>
</div>
<hr />