@{
    ViewData["Title"] = "Home";
}
@model List<Contact>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<form style="margin-top:15px; display:none;" id="form">
<table id="dt" class="table table-striped dataTable" cellspacing="0">
<row>
    <div class="col-sm-3">
        <select id="dropdown" data-style="btn-info" class="selectpicker form-control" title="Select division">
        <option value="">All</option>
        <option value="1st Division">1st Division</option>
        <option value="2nd Division">2nd Division</option>
        <option value="3rd Division">3rd Division</option>
        <option value="5th Division">5th Division</option>
        <option value="6th Division">6th Division</option>
        <option value="Citiparks">Citiparks</option>
        <option value="Construction">Construction</option>
        <option value="Facilities">Facilities</option>
        <option value="Forestry">Forestry</option>
        <option value="Heavy Equipment">Heavy Equipment</option>
        <option value="Parks - Eastern">Parks - Eastern</option>
        <option value="Parks - Northeast">Parks - Northeast</option>
        <option value="Parks - Northern">Parks - Northern</option>
        <option value="Parks - Schenley">Parks - Schenley</option>
        <option value="Parks - Southern">Parks - Southern</option>
        <option value="Parks - Western">Parks - Western</option>
        <option value="Permits">Permits</option>
        </select>
    </div>
    <div class="col-sm-5">
        <input class="form-control" id="search" placeholder="Search table"/>
    </div>
    </row>
    <thead>
    </tr>
        <tr>
            <th class="all">Name</th>
            <th class="none">Division</th>
            <th class="none">Home Phone</th>
            <th class="none">Cell Phone</th>
            <th class="all">Hire Date</th>
            <th class="all">Release Date</th>
            <th class="all">Bargaining Unit Sr. Date</th>
            <th class="all">Sub Union Sr. Date</th>
            <th class="all">Sub Union</th>
            <th style="background-color: rgba(136, 130, 149, 0.2); border-top-left-radius: 10px;" class="all">Contacted</th>
            <th style="background-color: rgba(136, 130, 149, 0.2); border-top-right-radius: 10px;" class="all">Response</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Contact item in Model)
        {
            @Html.Partial("_ActiveContacts", item)
        }
    </tbody>
</table>
</form>