@{
    ViewData["Title"] = "Home";
}
@model List<Contact>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Laborer.js"></script>

<form>
<table class="table text-center" style="margin-top: 10px;">
    <thead class="text-center">
        <tr>
            <th>Called</th>
            <th>Accepted</th>
            <th>Name</th>
            <th>Department</th>
            <th>Home Phone</th>
            <th>Cell Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Contact item in Model)
        {
            @Html.Partial("_ActiveContacts", item)
        }
    </tbody>
</table>
</form>