@{
    ViewData["Title"] = "Home";
}
@model List<Contact>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Laborer.js"></script>
<form style="margin-top:15px; display:none;" id="form">
<table id="dt" class="table table-striped text-center">
    <thead>
        <tr>
            <th>Called</th>
            <th>Accepted</th>
            <th>Name</th>
            <th>Department</th>
            <th>Home Phone</th>
            <th>Cell Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Contact item in Model)
        {
            @Html.Partial("_ActiveContacts", item)
        }
    </tbody>
</table>
</form>