body {
    padding-top: 50px;
    padding-bottom: 20px;
}
footer {
    margin: 0 10px;
}
h1, h2, h3, h4 {
    color: #383838;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* navbar style */
.navbar-inverse { 
    background-color: #fffaee !important; 
    border-color: #383838 !important;
}
.navbar-brand {
    color: #383838 !important;
    font-weight: 5400 !important;
    border-radius: 3px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background: #383838 !important;
    color: #fffaee !important;
    font-weight: bold;
    transition-duration: .3s;
    -webkit-transition-duration: .20s;
    -moz-transition-duration: .2s;
}
.navbar-inverse .navbar-nav > li > a {
    color: #383838 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #383838 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #383838 !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(56,56,56,.3) !important;
    transition-duration: .3s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .2s;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #383838 !important;
}

/* form style */
.form-control {
    margin: 5px !important;
    height: auto;
}
.btn-default:active, .btn-primary:active, .btn-link:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #383838 !important;
    color: white !important;
    transform: translateY(4px);
 }
.btn-default:focus, .btn-primary:focus, .btn-link:focus { 
    background-color: #383838 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none !important;
 }
.btn-default:hover, .btn-primary:hover, .btn-link:hover {
    /* update text color and background color */
    color:white !important;
    background-color:#383838 !important;
    box-shadow: none !important;
    outline: none !important;
    /* transitions */
    transition-duration: .4s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .6s;
}
.btn-success { 
    background-color:#383838;
    color: white;
    box-shadow: none !important;
}
.btn-default {
    /* font */
    color: #383838;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: helvetica;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color:rgba(202, 205, 206,.35);
    padding: 5px 15px;
    margin: 7px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 5px 5px 20px 20px #888;
    box-shadow: 2px 3px 8px 2px #888;
    width: 200px;
  }
.btn-primary {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: helvetica;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color:white;
    padding: 10px 30px;
    margin: 7px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 5px 5px 20px 20px #888;
    box-shadow: 2px 3px 8px 2px #888;
    width: 250px;
}
.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    padding: 6px 12px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #555 !important;
    background-color: white  !important;
    border: 1px solid #ccc  !important;
    border-radius: 4px  !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /* font */
    color: #383838;
    font-size: 16px;
    font-weight: normal !important;
    font-family: helvetica;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color:rgba(202, 205, 206,.35);
    padding: 5px 15px;
    margin: 7px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 5px 5px 20px 20px #888;
    box-shadow: 2px 3px 8px 2px #888;
    width: 200px;
}
textarea { 
    overflow: hidden;
}
.no-border {
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.big-checkbox {
    width: 20px; 
    height: 20px;
}
.icon-success {
    color: #5CB85C;
}
.right-inner-addon {
    position: relative !important;
}
.dataTables_filter, .dataTables_info { 
    display: none; 
}
.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    padding: 6px 12px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #555 !important;
    background-color: white  !important;
    border: 1px solid #ccc  !important;
    border-radius: 4px  !important;
}
button.bs-placeholder[role='button']>span {
    color:#999;
}
.paginate_button active {
    display:none;
}
.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
}
